#error-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  padding: 20px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-title {
  font-size: 72px;
  font-weight: 600;
}

.error-content {
  font-size: 20px;
}

.error-btn {
  border: white 1px solid;
  background: transparent;
  font-size: 20px;
  line-height: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}